parameters:
	ignoreErrors:
		-
			message: "#^Method Yproximite\\\\WannaSpeakBundle\\\\DependencyInjection\\\\WannaSpeakExtension\\:\\:load\\(\\) has parameter \\$configs with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/WannaSpeakExtension.php

